.container {
  width: 80%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  padding: 50px 0;
}

.differentTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: Moon Stars Kai;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  color:#7C5849;
  position: relative;
}

.subtitle {
  width: 100%;
  font-family: Moon Stars Kai HW;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #7C5849B2;
  display: flex;
  justify-content: center;
  margin-left: 200px;
}

.content {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.image {
  width: 800px;
  display: flex;
  align-items: center;
}

.image img { 
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 36px;
}


.text {
  width: calc(100% - 1000px);
  font-family: Moon Stars Kai;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1921px) {
  .text {
    font-size: 36px;
    line-height: 70px;
    gap: 30px;
  }
}

.bottomImage {
  width: 1000px;
  height: 650px;
  position: absolute;
  top: 600px;
  left: 30%;
}

.bottomImage img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: 36px;
}

.characteristics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 250px;
}

.characteristics p {
  font-family: Moon Stars Kai;
  font-weight: 400;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #333333;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageGroup {
  display: flex;
  justify-content: space-between;
}

.imageGroup img {
  width: 700px;
  height: 520px;
  border-radius: 36px;
  
}

.imageText {
  width: 100%;
  font-family: Moon Stars Kai;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}