@font-face {
  font-family: Moon Stars Kai;
  src: url(../../font/MoonStarsKai-Bold.ttf);
}



.container {
  width: 80%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  padding-bottom: 50px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: Moon Stars Kai;
  font-weight: 700;
  font-size: 96px;
  color:#7C5849;
}

.content {
  display: flex;
  gap: 5%;
}

.image {
  width: 55%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持图片比例填充容器 */
  border-radius: 36px;
}

.text {
  width: 30%;
  color: #333333;
  font-family: Moon Stars Kai;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  letter-spacing: 5px;
}

.text-second {
  width: 55%;
  font-family: Moon Stars Kai;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;

}

.imageSecond {
  width: 30%;
  height: 100%;
}

.imageSecond img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持图片比例填充容器 */
  border-radius: 36px;
}

.flipCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  perspective: 1000px; /* 3D效果的透视距离 */
}

.card {
  width: 450px;
  height: 500px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* 鼠标悬停时翻转 */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* 卡片正反面共有样式 */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari兼容 */
  backface-visibility: hidden; /* 隐藏背面 */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 卡片正面样式 */
.card-front {
  background-color: #f8f8f8;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* 卡片背面样式 */
.card-back {
  background-color: #8B0000; /* 深红色背景 */
  transform: rotateY(180deg);
  color: white;
}

.pattern-name {
  font-family: Moon Stars Kai;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.bottomImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}