
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../旅游上页.png') no-repeat center center/cover; 
  font-family: "微软雅黑", sans-serif;
  color: #fff;
}
.fanhui{
    position: absolute;
    width: 100px;
    right: 10%;
    top: 65%;
    z-index: 999;
}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 50px;
  min-height: 100vh; 
}

.text-box {
  width: 30%;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px; 
  margin-left: 100px;
}

.text-box p {
  line-height: 1.8;
  font-size: 30px;
  font-family: '楷书';
}

.card {
  width: 250px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px; 
  margin-left: 50px;
}

@media (max-width: 768px) {
 .container {
    flex-direction: column;
  }
 .text-box,
 .card {
    width: 100%;
    margin: 20px 0 0 0;
  }
}